body{
	text-align: center;
	background-color: #2C2F33;
	padding-top: 5px;
	padding-bottom: 0px;
}
label, div{
	font-family: 'Catamaran', sans-serif;
	font-size: 12pt;
	color: #FFF;
	text-shadow: 2px 2px 2px #111;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.2;
	transition-duration:0.25s;
}
h1{
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;
	font-size: 18pt;
	color:#FFF;
	text-shadow: 3px 3px 4px #111;
	margin-top: 0px;
	margin-bottom: 0px;
}
h2{
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;
	font-size: 16pt;
	color:#FFF;
	text-shadow: 3px 3px 4px #111;
	margin-top: 0px;
	margin-bottom: 0px;
}
a{
	color: #99AAB5;
}
select:focus{
	outline:0 !important;
}
.divCol{
	float: left;
	text-align: center;
	line-height: 3em;
	width: 30%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px #000;
}
.divHeader{
	font-weight: bold;
}
.divRow{
	display: flex;
	align-items: center;
	justify-content: center;
}
.divRow:hover{
	background-color: #13191c;
}
#contentBox{
	display: flex;
	justify-content: center;
	max-width: 90%;
	width: 760px;
	margin: 0 auto;
}
#teamList{
	width: 100%;
	display: block;
}